html, body {
    background-color: #d9d9d9;
    font-family: 'Mitr', sans-serif;
    /*font-family: 'Orbitron', sans-serif;*/
    margin: 0px;
    /*background-image: radial-gradient(#6d6d6d 1px, transparent 0);*/
    /*background-size: 8px 8px;*/
  /*background-position: -19px -19px;*/
}


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    z-index: 1000;
    /*background-image: radial-gradient(#808080 1px, transparent 0);*/
    /*background-size: 8px 8px;*/
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #ffcc00;
    box-shadow: 0px 3px 15px grey;
    
}

.logoWrapper {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 400px;
    display: inline-block;
}

.header .headerLink img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
    height: 32px;
    visibility: hidden;
}

.header .headerLink {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
}

.header a, .header .topnav {
    display: inline-block;
    vertical-align:top;
}

.header .topnav {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0px;
    height: 100%;
    width: max-content;
    
}

.header .topnav a {
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    float: left;
    color: #e6e6e6;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: fit-content;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom-color: #ffcc00;
    
}

.header .topnav a.active {
    text-decoration: none;
    color: black;
    background-color: #ffcc00;
}

.header .topnav a:hover {
    text-decoration: none;
    color: white;
    background-color: #a79139;
}

.header .topnav a.active:hover {
    text-decoration: none;
    color: black;
    background-color: #ffcc00;
}

.header .topnav .toggleMenuButton {
    display: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom-color: #ffcc00;
    width: fit-content;
    top: 0;
    left: 0;
    float: right;
}

.header .topnav .toggleMenuButton img {
    height: 60%;
    transform: translateY(25%);
    top: 0;
}

.header .topnav h1 {
    position: absolute;
    left: 8px;
    margin: 0px;
    padding: 0px;
    color: white;
    transform: translateY(-50%);
    top: 50%;
}

@media screen and (max-width: 470px) {

    /*.header .topnav {
        width: calc(100% - 97px);
    }

    

    .header .topnav a {
        text-align: left;
        display: inline-block;
        float: none;
        left: 0;
        
    }
    .header .topnav a:not(:first-child) {
        text-align: left;
        display: none;
        float: none;
        left: -97px;
        width: calc(100% + 97px);

        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #ffcc00;

        background-color: #666666;
        
    }

    .header .topnav a.toggleMenuButton {
        display: block;
        position: absolute;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-bottom-color: #ffcc00;
        width: 40px;
        height: 60px;
        top: 0;
        left: auto;
        right: 0;
    }*/

  }

  .subheader {
      background-color: #ffcc00;
      height: 32px;
      width: 100%;
      display: none;
  }

  .subheader a:first-child {
      margin-left: 6px;
  }

  .subheader a {
      color: black;
  }

  /*=======================*/

  .mainScene {
      background-color: white;
      color: black;
      max-width: 1200px;
      width: 100%;
      position: relative;
      padding: 0px;
      min-height: calc(100% - 64px);
      /*height: max-content;*/
      
      transform: translateX(-50%);
      left: 50%;
      
      
  }

  .mainScene a {
    text-decoration: underline;
    color: #ffcc00;
    
  }
  
  .mainScene > div {
      position: relative;
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 40px);
  }

  .thumbnails {
      padding: 0px;
      margin: 0;
  }

  .thumbnails li .thumbnail{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    height: 45%;      
}





.thumbnails li > div div{
    position: relative;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 40px);

      overflow: hidden;
      text-overflow: ellipsis;
        content: "";
      
}

  .thumbnails li {
      display: inline-block;
      height: 370px;
      /*max-width: 370px;*/
      width: calc(33.33% - 33px);
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      border-radius: 5px;
      border-style: solid;
        border-width: 1px;
        border-color: #999999;
      
        
  }

 

  .thumbnails a {
      text-decoration: none;
      color: black;
      position: relative;
      width: 100%;
      height: 100%;
  }

  .thumbnails li > div {
      width: 100%;
      height: 100%;

        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
  }

  .thumbnails li > div:hover {
    opacity: 0.75;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .thumbnails li .folderIcon {
      position: absolute;
      width: 80px;
      height: 80px;
      z-index: 1000;
  }



  @media screen and (max-width: 1000px) {

    .thumbnails li {
        
        width: calc(50% - 33px);
        
        
        
    }

  }

  @media screen and (max-width: 650px) {

    .thumbnails li {
        
        width: calc(100% - 40px);
        
    }

  }

  .footer {
      width: 100%;
      max-width: 1200px;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
  }

  .footer > div {
      height: 92px;
      
    background-color: #c8c8c8;
    z-index: 1000;
    color: black;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #ffcc00;
    /*box-shadow: 0px 3px 15px grey;*/

      
      width: calc(100% - 32px);
      position: relative;
      padding: 8px 16px 0px 16px;      
      

  }

  #jeeFaceFilterCanvas {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }