body, html {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
    font-family: 'Mitr', sans-serif;
    
}

.center {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.mainScene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*== Info Box ==*/

.infoBG {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.infoBox {
    background-color: white;
    position: absolute;
    top: 32px;
    left: 50%;
    width: 80%;
    height: 0;
    max-width: 500px;
    max-height: 700px;
    transform: translateX(-50%);
    border-radius: 8px;
    z-index: 1050;
    overflow: hidden;
}

.infoBox .infoScrollBox {
    
    background-color: transparent;
    position: relative;
    left: 50%;
    top: 36px;
    transform: translateX(-50%);
    width: calc(100% - 26px);
    height: calc(100% - 56px);
    overflow-x: auto;
    overflow-y: scroll;
    padding: 8px;
}

.infoButton {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgb(250,250,250);
    font-size: 12px;
    text-decoration: none;
    z-index: 1100;
}

.infoButton > img, .infoClose > img {
    position: absolute;
    width: 60%;
    height: 60%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.infoClose {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 8px;
    right: 8px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    text-align: center;
    background-color: rgb(250,250,250);
    font-size: 12px;
    text-decoration: none;
}